body {
    background-color: #FEF5DF;
}
.container {
    width: 300px;
    height: 400px;
    position: absolute;
    margin: auto;
    background: url("https://i.pinimg.com/564x/6f/5a/b1/6f5ab1b470beeeeaf285bb451c63ac8f.jpg");
    background-size: cover;
    cursor: pointer;
}